<%- include('includes/head.ejs')%>
<body>
    <nav class="navbar nav-global fixed-top navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="javascript:history.back()">
                <i class="material-icons ic-filter">arrow_back_ios</i>뒤로
            </a>
        </div>
        <button class="btn btn-primary btn-submit pull-right">상품 등록하기</button>
    </nav>

    <div class="container container-sm container-item-create">
        <h5 class="container-headline">같이 나눠요💚</h5>
        <form class="form-item-create">
            <div class="form-group form-picture">
                <div class="file-box">
                    <!-- <input class="upload-name" value="파일선택" disabled="disabled"> -->

                    <!-- <label for="ex_filename" class="btn btn-secondary">업로드</label> -->
                    <!-- <input type="file" id="ex_filename" class="upload-hidden"> -->
                </div>
            </div>

            <div class="form-group form-title">
                <input type="text" class="form-control" id="productsTitle" placeholder="제품 이름을 입력해주세요.">
            </div>
            <div class="form-group form-category">
                <select id="productsCategory" class="form-control">
                    <option value="" disabled selected>카테고리를 선택해주세요.</option>
                    <option value="생활/식료품">생활/가공식품</option>
                    <option value="대중교통/카풀">대중교통/카풀</option>
                    <option value="OTT">OTT</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="form-group form-price">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">₩</div>
                    </div>
                    <input type="number" class="form-control" id="productsPrice" min="0" placeholder="가격을 입력해주세요.">
                </div>
            </div>
            <div class="form-group form-description">
                <textarea class="form-control" id="productsDescription" rows="10" placeholder="제품 설명을 작성해주세요."></textarea>
            </div>
        </form>
    </div>
    <%- include('includes/footer.ejs')%>

    <script src="./js/create.js" defer></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('includes/scripts.ejs')%>
</body>
</html>